body {
	display: block;
	height: 771px;
	background: #FFFFF6;
	position: relative;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 25px;
}

a:hover {
	text-decoration: none;
	color: #CEDB17;
}

#title {
	font-size: 12px;
	line-height: 25px;
	/* identical to box height, or 208% */
	letter-spacing: 3.86667px;
	color: #CEDB17;

	/* left: 3.52%;
	right: 63.28%;
	top: 3.37%;
	bottom: 93.39%; */
}

#navbar {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 25px;
	/* or 208% */
	letter-spacing: 3.86667px;

	/* position: absolute; */
	/* left: 75.29%;
	right: 3.81%;
	top: 3.37%;
	bottom: 86.9%; */

}

#navbar a {
	color: #CE6A7B;
}

#navbar a:hover {
	color: #CEDB17;
}

#intropost {
	display: block;
	height: 400px;
}

#introPost h1 {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	/* or 125% */

	/* position: absolute; */
	/* left: 17.68%;
	right: 14.26%;
	top: 35%;
	bottom: 33.85%; */

	align-items: center;
	text-indent: 4px;
	color: #10328B;
}

#introName {
	color: #CEDB17;

}


.arrow {
	width: 45px;
	margin-top: 30px;
}


#downHere {

	/* position: absolute; */
	/* left: 41.89%;
	right: 41.8%;
	top: 70.17%;
	bottom: 23.22%; */

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 25px;
	/* or 208% */

	letter-spacing: 3.86667px;


}

#downHere a {
	color: #E7B1BB;
}

#downHere a:hover {
	color: #CEDB17;
}

.homepageGirl {
	/* position: absolute;
	left: 2.44%;
	right: 22.66%;
	top: 99.61%;
	bottom: -80.29%; */

	background-image: url(homepageGirl.png);
}

.links {
	/* left: 23.44%;
	right: 40.82%;
	top: 58.04%;
	bottom: 40.24%; */
}

#links h1 {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 50px;
	/* or 208% */
	letter-spacing: 3.86667px;
	color: #10328B;

}

#linksTitle {
	padding-bottom: 40px;
}

#links a {
	color: #10328B;
}

.wiggle {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 40px;
}

.wiggleLink {
	vertical-align: middle;

}

.square {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	transform: rotate(45deg);
	margin-right: 10px;
}

.designSquare {
	background-color: #E3EB8A;
}

.codeSquare {
	background-color: #E7B1BB;
}

.link {
	margin-left: 5px;
	vertical-align: middle;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 50px;
	/* or 208% */
	letter-spacing: 3.86667px;
	color: #10328B;
}


#projectsNavbar {
	/* position: absolute; */
	/* left: 31.64%;
	right: 32.62%;
	top: 55.82%;
	bottom: 42.47%; */

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 25px;
	/* or 208% */

	letter-spacing: 3.86667px;

	color: #10328B;

}