body {
	background: #FFFFF6;
	display: flex;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
}

body h1,
p {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: normal;
}

a {
	text-decoration: none;
}


.wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: -webkit-calc(1000px - (16px));
	max-width: calc(1000px - (16px));
}

.landing-page {
	height: 100vh;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#navbar {
	font-size: 12px;
	line-height: 25px;
}

#navbar a {
	color: #CE6A7B;
}

#navbar a:hover {
	color: #CEDB17;
}

.wiggle {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 40px;
}

.intro {
	margin: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #10328B;
	flex-flow: column;

}

.cards {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
	align-content: center;
}

.cards img {
	display: block;
	width: 100%;
	height: auto;
	opacity: 1;
}


.card {
	background: #CE6A7B;
	width: 400px;
	height: 400px;
	margin: 10px;
	color: #FFFFF6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.card:hover img {
	opacity: 0;
	transition: .5s ease;
}

.overlay {
	position: absolute;
	left: 50%;
	/* horizontal alignment */
	top: 50%;
	/* vertical alignment */
	transform: translate(-50%, -50%);
	/* precise centering; see link below */
	opacity: 0;
	transition: .1s ease;

}


.card:hover .overlay {
	opacity: 1;
}