body {
	display: block;
	height: 771px;
	background: #FFFFF6;
	position: relative;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 25px;
}

a:hover {
	text-decoration: none;
	color: #CEDB17;
}

#title {
	font-size: 12px;
	line-height: 25px;
	/* identical to box height, or 208% */
	letter-spacing: 3.86667px;
	color: #CEDB17;
}

#navbar {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 25px;
	/* or 208% */
	letter-spacing: 3.86667px;
}

#navbar a {
	color: #CE6A7B;
}

#navbar a:hover {
	color: #CEDB17;
}

.wiggle {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 40px;
}

.wiggleLink {
	vertical-align: middle;
}

#intropost {
	display: block;
	height: 400px;
}

#introPost h1 {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	align-items: center;
	text-indent: 4px;
	color: #10328B;
}

#introName {
	color: #CEDB17;

}

.arrow {
	width: 45px;
	margin-top: 30px;
}


#downHere {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 25px;
	/* or 208% */

	padding-top: 30px;
	letter-spacing: 3.86667px;
}

#downHere a {
	color: #E7B1BB;
}

#downHere a:hover {
	color: #CEDB17;
}


#links h1 {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 50px;
	/* or 208% */
	letter-spacing: 3.86667px;
	color: #10328B;

}

#linksTitle {
	padding-bottom: 40px;
}

#links a {
	color: #10328B;
}

.square {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	transform: rotate(45deg);
	margin-right: 10px;
}

.designSquare {
	background-color: #E3EB8A;
}

.codeSquare {
	background-color: #E7B1BB;
}

.link {
	margin-left: 5px;
	vertical-align: middle;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 50px;
	/* or 208% */
	letter-spacing: 3.86667px;
	color: #10328B;
}


#projectsNavbar {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 25px;
	/* or 208% */

	letter-spacing: 3.86667px;
	color: #10328B;
}